.btn {
  background-color: #d93691;
  color: white;
  padding: 10px 100px;
  border: 0;
  border-radius: 20px;
  transition: 0.5s all;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.btn:hover {
  background-color: #a31061;
  transform: scale(1.1);
}
