.overflow {
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visitor-table {
  width: 90%;
  flex-shrink: 0;
  border-collapse: collapse;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 20px;
}

.visitor-table th,
.visitor-table td {
  border: 1px solid #e1e1e1;
  padding: 12px;
  text-align: center;
  color: #000;
  width: 300px;
}

.visitor-table thead {
  background-color: #d93691;
}
.visitor-table thead tr th {
  color: #ffffff;
  font-family: "inder";
}

.visitor-table tbody tr:hover {
  background-color: #e1e1e1;
}
