.footer {
  background-color: #e1e1e1;
  padding: 15px 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.footer img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.footer .footer-text-flex {
  width: 50%;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer .footer-text-flex p {
  font-family: "Inder";
  font-size: 20px;
  margin: 0;
}
.footer .footer-text-flex .pp {
  font-family: "ArefRuqaa";
  color: #d93691;
  font-size: 20px;
  margin: 0;
}
.footer i {
  color: #d93691;
  font-size: 50px;
  transition: 0.5s all;
}
.footer i:hover {
  color: #a31061;
}
@media (max-width: 680px) {
  .footer .footer-text-flex p {
    font-size: 15px;
  }
  .footer .footer-text-flex .pp {
    font-size: 15px;
  }
  .footer i {
    font-size: 40px;
  }
}
@media (max-width: 550px) {
  .flex p {
    font-size: 18px;
  }
}
@media (max-width: 550px) {
  .flex p {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .Connie {
    font-size: 18px;
    font-weight: bold;
  }
  .Mai {
    font-size: 18px;
    font-weight: bold;
  }
}
@media (max-width: 400px) {
  .Connie {
    font-size: 16px;
  }
  .Mai {
    font-size: 16px;
  }
  .flex p {
    font-size: 16px;
    font-weight: bolder;
  }
  .footer .footer-text-flex p {
    font-size: 12px;
  }
  .footer .footer-text-flex .pp {
    font-size: 12px;
  }
  .footer i {
    font-size: 30px;
  }
  .btn {
    padding: 10px 80px;
    font-size: 14px;
  }
  .flex {
    gap: 0px;
  }
  .carousel-inner img {
    height: 400px !important;
    width: 250px !important;
    object-fit: cover;
  }
  .carousel-inner {
    height: 400px !important;
  }
}
