.carousel-inner img {
  width: 100% !important;
}
.baccc {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.baccc2 {
  padding: 10px 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
}
.review {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review h3 {
  direction: rtl;
  margin: 0;
  padding: 0;
}
.ooo {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ccc {
  text-align: center;
}
